@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: hsl(32, 77%, 90%);
  color: hsl(60, 5%, 4%);
}

.grid {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, auto);
  grid-template-areas:
    "texto1 texto1 texto1 texto1"
    "imgprincipal imgprincipal imgprincipal imgprincipal"
    "texto2 texto2 texto2 texto2"
    "img1 text1 img2 text2"
    "img3 text3 img4 text4"
    "text5 text5 text5 text5"
    "footer footer footer footer";
}
h1{
  text-align: center;
  margin-top: 2%;
  color: rgb(199, 16, 209)
  }
  .text5F{
    text-align: center;
  }
.texto1 {
  grid-area: texto1;
}

.imgprincipal {
  grid-area: imgprincipal;
  width: 100%; /* Ocupar todo el ancho de su contenedor */
  height: auto; /* Ajustar altura automáticamente */
}

.texto2 {
  grid-area: texto2;
}

.text1 {
  grid-area: text1;
}

.text2 {
  grid-area: text2;
}

.text3 {
  grid-area: text3;
}

.text4 {
  grid-area: text4;
}
.text5 {
  grid-area: text5;
}

.img1 {
  grid-area: img1;
  width: 100%
}

.img2 {
  grid-area: img2;
  width: 100%
}

.img3 {
  grid-area: img3;
  width: 100%
}

.img4 {
  grid-area: img4;
  width: 100%
}

.text1, .text2, .text3, .text4,
.img1, .img2, .img3, .img4 {
  grid-column: span 1; /* Asegura que cada elemento ocupe una columna */
  width: 100%; /* Mismo tamaño para que sea cuadrado */
}

/* Ajusta los márgenes o padding según sea necesario */
.text1, .text2, .text3, .text4 {
  margin: 10px;
}
.img1, .img2, .img3, .img4 {
  margin: 10px;
}

p {
  margin: 1.3em;
}

h2 {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

a:hover {
  color: rgb(248, 188, 246);
}

.footer {
  grid-area: footer;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}