@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}
  
  body {
    background-color: hsl(32, 77%, 90%);;
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    color: hsl(60, 5%, 4%);
  }
  
  .grid {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "pack1 pack2 pack3"
      "pack1 pack2 pack3"
      "pack1 pack2 pack3" 
      "footer footer footer";
  }
  
  .secondaryImg {
    border-radius: 0px;
    transition: 0.7s linear;
  }
  
  .secondaryImg:hover {
    border-radius: 20px;
    -webkit-filter: grayscale(100%);
  }
  
  ul {
    margin: 1.3em;
  }
  
  li {
    margin: 1em;
  }

  h2 {
    margin-top: 1em;
    margin-right: 0.5em;
    margin-left: 0.5em;
  }
  
  a:hover {
    color: rgb(158, 182, 210);
  }
  
  .footer {
    grid-area: footer; /* Añadimos esto para asignar el footer a su área */
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }


@media  (min-width:600px) and (max-width:768px){
    .grid {
        display: grid;
        grid-gap: 1px;
        grid-template-columns: repeat(2,50%);
        grid-template-rows: repeat(5, auto);
            grid-template-areas:
                                 
                                 "principalNews principalNews"
                                 "principalNews principalNews"
                                 "pack4 pack5"
                                 "pack1 pack2"
                                 "pack3 pack3"      
    }

    .pack3 {
        color: #000;
        border: none;
        grid-area: pack3;
        margin-bottom: 0em;
        border-style:groove;
        text-align: center;
    }

  

}

@media  (min-width:320px) and (max-width:480px) {
    .grid {
        display: grid;
        grid-gap: 1px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
            grid-template-areas:
                                 "principalNews" 
                                 "news4"
                                 "news5"
                                 "news1"
                                 "news2"  
                                 "news3"  
    }


    #imgPrincipal {
        height: 75%;
        width: 75%;
    }
  

}

@media (min-width: 769px) and (max-width: 1024px) {
    .grid {
      display: grid;
      grid-gap: 1px;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(5, auto);
      grid-template-areas:
        "principalNews principalNews"
        "principalNews principalNews"
        "news4 news5"
        "news1 news2"
        "news3 news3";
      /* Estilos adicionales para el modo de pantalla pequeña de escritorio */
      /* Ajusta los estilos según tus necesidades */
    }
    
    .pack3 {
      color: #000;
      border: none;
      grid-area: pack3;
      margin-bottom: 0em;
      border-style: groove;
      text-align: center;
      /* Estilos adicionales para el modo de pantalla pequeña de escritorio */
      /* Ajusta los estilos según tus necesidades */
    }
  
    #imgPrincipal {
      height: 75%;
      width: 75%;
      /* Estilos adicionales para el modo de pantalla pequeña de escritorio */
      /* Ajusta los estilos según tus necesidades */
    }
  }
  

