<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Quienes Somos?</title>
    <link rel="favicon logo" href="/Proyecto/img/Smarhouse-logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/Css/Style.css">
</head>

<body>
    <header>
        <nav>
            <div>
                <ul>
                  <li>
                    <a href="/Index.html">
                      <img class="logo" src="/img/Smarhouse-logo.png" alt="">
                    </a>
                  </li>
                </ul>
            <ul>
                <li><a href="planes.html">Planes</a></li>
                <li><a href="quienes-somos.html">¿Quienes Somos?</a></li>
                <li><a href="contacto.html">Contatanos</a></li>
            </ul>
        </nav>
        <h1>¿Quienes Somos?</h1>
    </header>

</body>

</html>