<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>¿Quienes Somos?</title>
  <link rel="favicon logo" href="/Proyecto/img/Smarhouse-logo.ico" type="image/x-icon">
  <link rel="stylesheet" href="/Css/Style.css">
</head>

<body>
  <header class="header">
    <div class="logo">
      <img src="img/Smart.jpg" alt="Logo de la marca">
    </div>
    <nav>
      <ul class="nav-links">
        <li><a href="#" id="services-link">Services</a>
          <ul id="services-dropdown" class="dropdown">
            <li><a href="#">Servicio 1</a></li>
            <li><a href="#">Servicio 2</a></li>
            <li><a href="#">Servicio 3</a></li>
          </ul>
        </li>
        <li><a href="/Templates/quienes-somos.html">quienes-somos</a></li>
        <li><a href="/Templates/planes.html">Planes</a></li>
      </ul>
    </nav>
    <a class="btn" href="/Templates/contacto.html"><button>Contact</button></a>
    <!-- <nav>
        <div>
          <ul>
            <li>
              <a href="/Index.html">
                <img class="logo" src="/img/Smarhouse-logo.png" alt="">
              </a>
            </li>
          </ul>
        </div>
        <ul> 
          <li class="navi"><a href="/Templates/contacto.html">Planes</a></li>
          <li class="navi"><a href="Templates/quienes-somos.html">¿Quienes Somos?</a></li>
          <li class="navi"><a href="Templates/contacto.html">Contatanos</a></li>
        </ul>
  </nav> -->
    <h1>Smart House</h1>
    <h2>Tu casa Inteligente </h2>
  </header>

</body>

</html>